body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

.MuiContainer-root {
  background-color: #fff;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
